html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.3;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Roboto', Sans-Serif;
}

p,
a,
label,
input,
select,
option {
  font-family: 'PT Sans', Sans-Serif;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
